<!DOCTYPE html>
<object
  type="text/html"
  data="/.netlify/functions/server"
  style="width:100%;height:100%;"
>
<head>
  <link rel="stylesheet" href="css/style.css">
  <meta charset="utf-8">

  <title>Karan's Personal Site</title>

  <!-- start Mixpanel --><script type="text/javascript">(function(c,a){if(!a.__SV){var b=window;try{var d,m,j,k=b.location,f=k.hash;d=function(a,b){return(m=a.match(RegExp(b+"=([^&]*)")))?m[1]:null};f&&d(f,"state")&&(j=JSON.parse(decodeURIComponent(d(f,"state"))),"mpeditor"===j.action&&(b.sessionStorage.setItem("_mpcehash",f),history.replaceState(j.desiredHash||"",c.title,k.pathname+k.search)))}catch(n){}var l,h;window.mixpanel=a;a._i=[];a.init=function(b,d,g){function c(b,i){var a=i.split(".");2==a.length&&(b=b[a[0]],i=a[1]);b[i]=function(){b.push([i].concat(Array.prototype.slice.call(arguments,
  0)))}}var e=a;"undefined"!==typeof g?e=a[g]=[]:g="mixpanel";e.people=e.people||[];e.toString=function(b){var a="mixpanel";"mixpanel"!==g&&(a+="."+g);b||(a+=" (stub)");return a};e.people.toString=function(){return e.toString(1)+".people (stub)"};l="disable time_event track track_pageview track_links track_forms track_with_groups add_group set_group remove_group register register_once alias unregister identify name_tag set_config reset opt_in_tracking opt_out_tracking has_opted_in_tracking has_opted_out_tracking clear_opt_in_out_tracking people.set people.set_once people.unset people.increment people.append people.union people.track_charge people.clear_charges people.delete_user people.remove".split(" ");
  for(h=0;h<l.length;h++)c(e,l[h]);var f="set set_once union unset remove delete".split(" ");e.get_group=function(){function a(c){b[c]=function(){call2_args=arguments;call2=[c].concat(Array.prototype.slice.call(call2_args,0));e.push([d,call2])}}for(var b={},d=["get_group"].concat(Array.prototype.slice.call(arguments,0)),c=0;c<f.length;c++)a(f[c]);return b};a._i.push([b,d,g])};a.__SV=1.2;b=c.createElement("script");b.type="text/javascript";b.async=!0;b.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?
  MIXPANEL_CUSTOM_LIB_URL:"file:"===c.location.protocol&&"//cdn4.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn4.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn4.mxpnl.com/libs/mixpanel-2-latest.min.js";d=c.getElementsByTagName("script")[0];d.parentNode.insertBefore(b,d)}})(document,window.mixpanel||[]);
  mixpanel.init("0bc27ef1523707b9ea2debcef146d9eb");</script><!-- end Mixpanel -->

  <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">

</head>
<body>
<body>
<div id="menu">
<div class="title">Books</div>
<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/bio">Bio</a></li>
  <li><a href="/quotes">Quotes</a></li>
  <li><a href="/email">Email</a></li>
  <li><a href="/drawings">Drawings</a></li>
  <li><a href="/blog">Blog</a></li>
</ul>
</div>

<div id="content">
<p>Books I recommend: </p>
<ul>
<li><a href="https://www.amazon.de/gp/product/110760463X/">A Mathematician's Apology, G. H. Hardy</a></</li>
<li><a href="https://www.amazon.com/Sense-Where-You-Are-Princeton/dp/0374526893/">A Sense Of Where You Are, John McPhee </a></li>
<li><a href="https://www.amazon.de/Albert-Einstein-Creator-Banesh-Hoffmann/dp/058608195X">Albert Einstein: Creator and Rebel, Banesh Hoffmann, Helen Dukas</a></</li>
<li><a href="https://www.amazon.com/Barbarian-Days-Surfing-William-Finnegan/dp/0143109391">Barbarian Days, William Finnegan</a></li>
<li><a href="https://www.blitzscaling.com/">Blitzscaling, Reid Hoffman, Chris Yeh</a></</li>
<li><a href="https://www.amazon.de/Brief-Answers-Big-Questions-Stephen/dp/1473695988/">Brief Answers to Big Questions, Stephen Hawking</a></li>
<li> <a href="https://www.amazon.com/Civilisation-Kenneth-Clark/dp/0719568447">Civilisation, Kenneth Clark </a></li>
<li><a href="http://paulgraham.com/hackpaint.html/">Hackers And Painters, Paul Graham</a></</li>
<li><a href="http://growth.eladgil.com/">High Growth Handbook,  Elad Gil</a></</li>
<li><a href="https://www.goodreads.com/book/show/13466.How_Customers_Think">How Customers Think, Gerald Zaltman</a></li>
<li><a href="https://www.amazon.de/dp/0130305529/ref=cm_sw_r_tw_dp_U_x_Kp61Db9VM0YH1">On Lisp: Advanced Techniques for Common Lisp, Paul Graham</a></li>
<li><a href="https://www.bahai.org/library/authoritative-texts/abdul-baha/some-answered-questions/">Some Answered Questions, Abdul'Baha</a></li>
<li><a href="https://en.wikipedia.org/wiki/The_Act_of_Creation">The Act Of Creation, Arthur Koestler</a></li>
<li><a href="https://www.amazon.de/Dream-Machine-M-Mitchell-Waldrop/dp/1732265119/ref=pd_cp_14_1/259-8828952-8519312?_encoding=UTF8&pd_rd_i=1732265119&pd_rd_r=9d64965e-774e-11e9-befd-7173e4d2ac77&pd_rd_w=t117v&pd_rd_wg=Oyt87&pf_rd_p=d5913aa9-ce95-4069-aa43-851c1d60ce49&pf_rd_r=68AQVAGYAYWA6BFH2QND&psc=1&refRID=68AQVAGYAYWA6BFH2QND">The Dream Machine, M. Mitchell Waldrop</a></li>
<li><a href="https://en.wikipedia.org/wiki/The_God_Particle_(book)">The God Particle, Leon M. Lederman, Dick Teresi</a></li>
<li><a href="https://www.amazon.com/gp/product/144261269">The Gutenberg Galaxy, Marshall McLuhan</a></li>
<li><a href="https://montessoriguide.org/in-her-words-the-secret-of-childhood">The Secret Of Childhood, Maria Montessori</a></li>
<li><a href="https://www.amazon.com/-/de/dp/0316491977/">The Soul of A New Machine, Tracy Kidder </a></li>
<li><a href="https://www.amazon.com/exec/obidos/ASIN/0961392142">The Visual Display Of Quantitative Information, Edward R. Tufte </a></</li>
<li><a href="https://www.amazon.com/exec/obidos/ASIN/0674897013/">Toward A Theory Of Instruction, Jerome Bruner</a></li>
<li><a href="https://withouttheirpermission.com/">Without Their Permission, Alexis Ohanian</a></li>
<li><a href="https://www.goodreads.com/book/show/18050143-zero-to-one">Zero To One, Peter Thiel</a></li>

</ul>
</div>
 <script type="text/javascript">
   mixpanel.track("Page View")
</script>
    </body>
</html>
