<!DOCTYPE html>
<object
  type="text/html"
  data="/.netlify/functions/server"
  style="width:100%;height:100%;"
>
<head>
  <link rel="stylesheet" href="css/style.css">
  <meta charset="utf-8">

  <title>Karan's Personal Site</title>

  <script>
  var TxtType = function(el, toRotate, period) {
        this.toRotate = toRotate;
        this.el = el;
        this.loopNum = 0;
        this.period = parseInt(period, 10) || 5000;
        this.txt = '';
        this.tick();
        this.isDeleting = false;
    };

    TxtType.prototype.tick = function() {
        var i = this.loopNum % this.toRotate.length;
        var fullTxt = this.toRotate[i];

        if (this.isDeleting) {
        this.txt = fullTxt.substring(0, this.txt.length - 1);
        } else {
        this.txt = fullTxt.substring(0, this.txt.length + 1);
        }

        this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

        var that = this;
        var delta = 200 - Math.random() * 100;

        if (this.isDeleting) { delta /= 2; }

        if (!this.isDeleting && this.txt === fullTxt) {
        delta = this.period;
        this.isDeleting = true;
        } else if (this.isDeleting && this.txt === '') {
        this.isDeleting = false;
        this.loopNum++;
        delta = 500;
        }

        setTimeout(function() {
        that.tick();
        }, delta);
    };

    window.onload = function() {
        var elements = document.getElementsByClassName('typewrite');
        for (var i=0; i<elements.length; i++) {
            var toRotate = elements[i].getAttribute('data-type');
            var period = elements[i].getAttribute('data-period');
            if (toRotate) {
              new TxtType(elements[i], JSON.parse(toRotate), period);
            }
        }
        // INJECT CSS
        var css = document.createElement("style");
        css.type = "text/css";
        css.innerHTML = ".typewrite > .wrap { border-right: 0.08em solid grey; font-size: 24px;}";
        document.body.appendChild(css);
    };
  </script>

  <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">

</head>
<body>
<div id="menu">
<div class="title">Quotes</div>
<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/books">Books</a></li>
  <li><a href="/bio">Bio</a></li>
  <li><a href="/email">Email</a></li>
  <li><a href="/drawings">Drawings</a></li>
  <li><a href="/blog">Blog</a></li>
</ul>
</div>
<div id="content">
<div class="typewriter">
  <div class="typewrite" data-period="500" data-type='[ "The earth is but one country and mandkind its citizens. Bahaullah", "Learn the rules like a pro, so you can break them like an artist. Picasso", "Context adds 80 IQ points. Alan Kay", "Focusing is about saying no. Steve Jobs", "You are making the kids cry and you know it well.  My 5 year old son, talking to all adults", "A mathematician, like a painter or poet, is a maker of patterns. If his patterns are more permanent than theirs, it is because they are made with ideas. G. H. Hardy" ]'>
    <span class="wrap"></span></div>
</div>
</div>

    </body>
</html>
